
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/stylesheet.css" />
</head>
<body>
    <nav>
        <ul>
            <li></li>
            <li></li>
        </ul>
    </nav>
    <div> 
        @RenderBody();
    </div>
</body>
</html>
