
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/stylesheet.css" />
</head>
<body>
    <nav>
        <ul>
            <li>@Html.ActionLink("Home","Index", "Home")</li>
            <li>@Html.ActionLink("Survey", "Index", "Survey")</li>
        </ul>
    </nav>
    <div> 
        @RenderBody();
    </div>
    <footer>
        <p>&copy;2017 Moshe &amp; Rachel Enterprises</p>
    </footer>
</body>
</html>
